*{
    font-family: "微软雅黑";
    margin:0;
    padding: 0;
}
body,html{
    height: 100%;
    /*阻止a标签点击出现，蒙层*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: #FFD542;
}

/*阻止a标签点击出现，蒙层*/
a{
    outline:none;
    -moz-outline-style:none;
}

/*进度条加载状态*/
.barContainer{
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top:0;
    background: #FFD542;
    z-index: 2;
}

.loadingEmptyBox{
    width: 100%;
    height: 4.72rem;
}

.loadingGif{
    width: 2.346rem;
    height: 2.333rem;
    /*margin-left: 3.706rem;*/
}

.progressBar {
    width: 2.506rem;
    height: 0.162rem;
    background: url("../images/loadingwhite.png") no-repeat left top;
    background-size: 100% 100%;
    margin: 0.1467rem auto 0.13rem;
    border-radius: 1.6rem;
    border: 1px solid #430F07;
}

#bar {
    width: 0;
    height: 0.162rem;
    background: url("../images/loadingred.png") no-repeat left top;
    background-size: 100% 100%;
    border-radius: 1.6rem;
}

.percentNum{
    font-size: 0.48rem;
    color: #430F07;
    line-height: 0.573rem;
    font-weight: 700;
    text-align: center;
}

/*音乐按钮*/
.musicBtn{
    position:absolute;
    top:0.346rem;
    left:0.48rem;
    width:0.7rem;
    height:0.7rem;
}

/*第一页*/
.pageOne{
    position: relative;
    background: #FFD542 url("../images/zjfindex_bg.png") no-repeat left top;
    background-size: 100% 100%;
    padding: 0 0.24rem 0 0.32rem;
}

.firstPageEmptyBox{
    width: 100%;
    height:1rem;
}

.firstPageTitle{
    width: 100%;
    height: 3.882rem;
    background: url("../images/zjfindex_title.png") no-repeat left top;
    background-size: 100% 100%;
}

/*妈妈表情变化*/
.firstPageMom{
    padding: 0 0.32rem 0;
    width: 9.053rem;
    height: 9rem;
    position: relative;
}

.momBox{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:-0.7rem;
}

.firstPageMom img{
    display: block;
    width:100%;
    height: 100%;
    border: none;
}

/*文字变化*/
.momWord1{
    width: 3.706rem;
    height: 1.333rem;
    background: url("../images/zjfindex_word1.png") no-repeat left top;
    background-size: 100% 100%;
    position: absolute;
    left:0;
    bottom: 3.45rem;
}

.momWord2{
    width: 1.6rem;
    height: 3.76rem;
    background: url("../images/zjfindex_word2.png") no-repeat left top;
    background-size: 100% 100%;
    position: absolute;
    left:1.7rem;
    /*bottom: -0.3rem;*/
    top:3rem;
}

/*降火按钮*/
.firstPageBtn{
    position: absolute;
    /*top:8.5rem;*/
    bottom: -0.25rem;
    left:50%;
    margin-left: -3.25rem;
    width: 6rem;
    height: 1.813rem;
    background: url("../images/zjfindex_clickBtn.png") no-repeat left top;
    background-size: 100% 100%;
}

.firstBotText{
    text-align: center;
    margin-top: 0.453rem;
    line-height: 0.56rem;
    font-size: 0.426rem;
    color: #542019;
    font-weight: 700;
}

.animate1{
    -webkit-animation:  btnMove 1s forwards;
}

@-webkit-keyframes btnMove{
    0%, 100% {
        -webkit-transform: scale(1) rotateZ(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1) rotateZ(-5deg);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1) rotateZ(5deg);
    }
}

.animate3{
    -webkit-animation:  spin 2s linear infinite;
}

@keyframes spin {
    0%   { transform: rotate(-360deg); }
    100% { transform: rotate(0deg); }
}

.animate4{
    -webkit-animation:  wordOpacity 2s linear infinite;
}

@keyframes wordOpacity {
    0%   { opacity: 1; }
    50%  { opacity: 0.5}
    100% { opacity: 0; }
}

#cnzz_stat_icon_1258631616 { display: none; }

