[contenteditable = "true"], input, textarea {
    -webkit-user-select: auto!important;
    -khtml-user-select: auto!important;
    -moz-user-select: auto!important;
    -ms-user-select: auto!important;
    -o-user-select: auto!important;
    user-select: auto!important;
}

input[type=button], input[type=submit], input[type=file], button {
    cursor: pointer;
    -webkit-appearance: none;
}

.pageThree{
    background: #FFD542 url("../images/pages_bg.png") no-repeat left top;
    background-size: 100% 100%;
}

/*.thirdPageEmptyBox{*/
    /*width: 100%;*/
    /*height: 1.32rem;*/
/*}*/

/*.thirdTitle{*/
    /*width: 5.333rem;*/
    /*height: 1.333rem;*/
    /*background: url("../images/thirdPage_title.png") no-repeat left top;*/
    /*background-size: 100% 100%;*/
    /*margin: 0 auto;*/
/*}*/

/*.thirdText{*/
    /*width: 8.893rem;*/
    /*height: 1.8rem;*/
    /*background: url("../images/thirdPage_text.png") no-repeat center top;*/
    /*background-size: 100%;*/
    /*margin: 0.413rem auto 0;*/
/*}*/

.thirdEpmtyBox{
    width: 100%;
    height: 5.28rem;
}

.freeReceiveBox{
    width: 8.666rem;
    height: 9.066rem;
    background: url("../images/wbg.png") no-repeat left top;
    background-size: 100% 100%;
    margin: 0 auto;
}

.freeReceiveTitle{
    height: 2.053rem;
    line-height: 2.053rem;
    text-align: center;
    font-size: 0.5333rem;
    color: #000000;
    font-weight: 700;
}

.font-color{
    color: #F5A623;
}

.freeReceiveBook{
    width: 5.04rem;
    height: 3.626rem;
    background: url("../images/thirdBook_bg.png") no-repeat left top;
    background-size: 100% 100%;
    margin: 0.96rem auto 0;
}

.freeReceiveBtn{
    width: 6.76rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.453rem;
    background: url("../images/button_bg.png") no-repeat left top;
    background-size: 100% 100%;
    margin: 0.653rem auto 0;
}

.pagesMask{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    background: rgba(0,0,0,.7);
    display: none;
}

/*注册弹窗*/
.registerBox{
    padding: 0.4rem 0.667rem;
    position: fixed;
    width: 6.667rem;
    left: 50%;
    margin-left: -4rem;
    top:2.56rem;
    background: #FFFFFF;
    box-shadow: 0 0 0.1333rem 0 rgba(134,134,134,0.50);
    border-radius: 0.1067rem;
    z-index: 2;
    display: none;
}

.registerText{
    line-height: 0.667rem;
    font-size: 0.48rem;
    color: #262729;
    text-align: center;
    font-weight:700;
}

.infoBox{
    height: 0.746rem;
    margin-top: 0.626rem;

}

.phonenuber{
    border-bottom: 0.0133rem solid #E5E5E5;
}

.infotext{
    line-height:0.746rem;
    font-size: 0.4rem;
    color: #262729;
    outline: none;
    border: none;
    /*cursor: pointer;*/
}

.mobile{
    width: 100%;
}

.code{
    width: 3.5rem;
    border-bottom: 0.0133rem solid #E5E5E5;
    border-radius: 0;
}

.getyzm{
    width: 2.933rem;
    height: 0.746rem;
    background: #0DC2B3;
    border-radius: 0.053rem;
    color: white;
    line-height: 0.746rem;
    text-align: center;
    outline: none;
    border: none;
    font-size: 0.373rem;
}

/*错误提示*/
.errorBox{
    height: 0.44rem;
    line-height: 0.44rem;
    font-size: 0.32rem;
    color: #F74646;
    text-align: center;
    margin: 0.213rem 0;
}

.receiveGift{
    height: 1.067rem;
}

.receiveGiftBtn{
    width: 100%;
    height: 100%;
    line-height: 1.067rem;
    border: none;
    outline: none;
    text-align: center;
    color: white;
    background: #BBBBBB;
    font-size: 0.453rem;
    border-radius: 0.1067rem;
}


/*活动规则*/
.actRulesBtn{
    width: 2.226rem;
    height: 0.56rem;
    line-height: 0.56rem;
    font-size: 0.346rem;
    color: #FFFFFF;
    background: #D7B235;
    border: 0.0133rem solid #FFFFFF;
    border-radius: 0.133rem;
    margin: 0.426rem auto 0;
}

.activityRules{
    width: 7.466rem;
    /*height: 9.8rem;*/
    position: absolute;
    left: 50%;
    margin-left: -3.733rem;
    top:2.6rem;
    overflow: hidden;
    z-index: 2;
    display: none;
}

.rulesClose{
    width: 0.667rem;
    height: 0.667rem;
    background: url("../images/fourthPage_close.png") no-repeat left top;
    background-size: 100% 100%;
    float: right;
}

.rulesBox{
    /*width: 100%;*/
    /*height: 8.8rem;*/
    background: #FFFFFF;
    border-radius: 0.053rem;
    margin-top: 0.333rem;
    padding: 0.533rem 0.6rem 0.95rem;
    float: left;
}

.rulesTitle{
    height: 0.64rem;
}

.rulesLine{
    width: 1.933rem;
    height: 0.017rem;
    background-color: #DDDDDD;
    margin-top: 0.2967rem;
}

.rulesLeftLine{
    float: left;
}

.rulesRightLine{
    float: right;
}

.rulesText{
    line-height: 0.64rem;
    font-size: 0.453rem;
    color: #666666;
    margin: 0 0.267rem;
}

.rulesStrip{
    font-size: 0.3733rem;
    color: #666666;
    line-height: 0.5333rem;
    margin-top: 0.8rem;
    text-align: justify;
}

.toastBox{
    width: 4.5rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 0.133rem;
    background: rgba(0,0,0,.7);
    padding: 0.2667rem 0.2667rem;
    color: #ffffff;
    font-size: 0.426rem;
    text-align: center;
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}
